  <ul>
    <li>Name: <%= @pet.name_of_pet %> </li>
    <li>Type: <%= @pet.type_of_pet %> </li>
    <li>Breed: <%= @pet.breed %> </li>
    <li>Age: <%= @pet.age %> </li>
    <li>Weight (oz): <%= @pet.weight %> </li>
    <li>Date of last visit: <%= @pet.date_of_last_visit %> </li>
  </ul>
